$background-color: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$main-font: 'Barlow Semi Condensed', sans-serif;
$border-color: hsl(217, 16%, 45%);
$elements_bg-color: #f8f8f8;

@mixin flex-center-relative {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@function set-font($size) {
    @return 700 $size $main-font;
}

@function option-icon($image) {
    @return url($image) no-repeat;
}

@function option-border($from, $to) {
    @return linear-gradient($from, $to);
}

@mixin border-shadow($color) {
    box-shadow: 0 0.5em $color;
}

@mixin option-hover($value) {
    &:hover {
        filter: brightness($value);
    }
}

@mixin bg-shadow() {
    box-shadow: 0 0.5em #b9bed4 inset;
}

@mixin set-hand($image) {
    .image {
        background: url($image) no-repeat;
        background-position: 50% 50%;
        height: 100%;
        width: 100%;
    }
}

@mixin medium_screen() {
    @media screen and (max-width: 640px) {
        @content;
    }
}
