.options {
    background: url('../../images/bg-triangle.svg') no-repeat;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-30%, 20%);

    &__icon {
        display: flex;
        position: absolute;
        cursor: pointer;

        &:hover {
            filter: brightness(70%);
        }

        &::before {
            content: '';
            height: 160px;
            width: 160px;
            display: block;
            z-index: -1;
            border-radius: 50%;
        }

        &--paper {
            bottom: 70%;
            right: 80%;
            .image {
                background: option-icon('../../images/icon-paper.svg');
            }

            &::before {
                background: option-border(
                    hsl(230, 89%, 62%),
                    hsl(230, 89%, 65%)
                );
                @include border-shadow(#2945c3);
            }
        }
        &--scissors {
            bottom: 70%;
            right: 27%;
            .image {
                background: option-icon('../../images/icon-scissors.svg');
            }
            &::before {
                background: option-border(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
                @include border-shadow(#c66d1b);
            }
        }
        &--rock {
            bottom: 20%;
            right: 54%;
            .image {
                background: option-icon('../../images/icon-rock.svg');
            }
            &::before {
                background: option-border(
                    hsl(349, 71%, 52%),
                    hsl(349, 70%, 56%)
                );
                @include border-shadow(#9e1531);
            }
        }
    }

    .image {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 12%;
        left: 12%;
        background-position: 31% 33%;

        &::after {
            content: '';
            background: $elements_bg-color;
            height: 120px;
            width: 120px;
            display: block;
            z-index: -1;
            position: absolute;
            border-radius: 50%;
            @include bg-shadow();
        }
    }
}

.rules-btn {
    background: transparent;
    color: $elements_bg-color;
    border: 2px solid $border-color;
    height: 42px;
    width: 130px;
    border-radius: 5px;
    font: 600 15px $main-font;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    right: 5%;
    transform: translate(5%, 10%);

    &:hover {
        filter: brightness(50%);
    }
}
