.game {
    display: none;
    position: relative;
    top: 10%;
    left: 30%;
    width: 50%;
    height: 100%;

    p {
        color: $elements_bg-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: $main-font;
        font-size: 20px;
    }

    &__user {
        width: 50%;
        position: relative;
    }

    &__computer {
        width: 50%;
        position: relative;
        left: 8%;
    }
}

.user-choice {
    position: absolute;
    top: 70%;
    left: 40%;

    .options__icon {
        transform: scale(1.4);
        &:hover {
            filter: brightness(100%);
            cursor: auto;
        }
    }

    .image {
        @include hand-placement;
    }
}

.choice-placement {
    height: 50%;
    width: 60%;
    background: #17223e;
    border-radius: 50%;
    position: relative;
    top: 12%;
    left: -4%;

    .computer-choice {
        position: relative;
        display: none;

        &--rock {
            top: 87%;
            left: 45%;
        }
        &--paper {
            top: 87%;
            left: 70%;
        }
        &--scissors {
            top: 87%;
            left: 20%;
        }
    }

    .options__icon {
        transform: scale(1.4);
        // bottom: 11%;
        // left: 14%;
        &:hover {
            filter: brightness(100%);
            cursor: auto;
        }
    }

    .image {
        @include hand-placement;
    }
}
