header {
    width: 50%;
    height: 15%;
    border: 0.2em solid $border-color;
    border-radius: 1.2em;
    @include flex-center-relative;
    padding: 1.5em;
    left: 50%;
    top: 2%;
    transform: translate(-50%);
    justify-content: space-between;

    img {
        height: 100%;
    }
}

.score-box {
    height: 6rem;
    width: 7rem;
    background: $elements_bg-color;
    border-radius: 0.5em;
    @include flex-center-relative;

    &__text {
        height: 100%;
        @include flex-center-relative;
        flex-direction: column;

        span {
            color: hsl(229, 64%, 46%);
            font: set-font(1rem);
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .points {
            font: set-font(3rem);
            color: #58566b;
            // line-height: 3.5rem;
            position: relative;
            top: -0.25em;
        }

        .score {
            position: relative;
            top: 0;
        }
    }
}
