header {
    width: 50%;
    border: 2px solid $border-color;
    border-radius: 20px;
    display: flex;
    padding: 1.5em;
    align-items: center;
    position: relative;
    left: 50%;
    // top: 10%;
    transform: translate(-50%, 10%);

    img {
        height: 100%;
    }
}

.score-box {
    height: 70%;
    width: 18%;
    background: $elements_bg-color;
    border-radius: 10px;
    position: absolute;
    right: 1.5em;
    display: flex;
    justify-content: center;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 10%;

        span {
            color: hsl(229, 64%, 46%);
            font: 700 1rem $main-font;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .points {
            font: 700 3.5rem $main-font;
            color: #58566b;
            top: 0;
        }
    }
}
