.options {
    background: url('../../images/bg-triangle.svg') no-repeat;
    background-size: 65% 80%;
    width: 70%;
    height: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-28%);

    &__icon {
        display: flex;
        position: absolute;
        cursor: pointer;
        height: 38%;
        width: 33%;

        &:hover {
            filter: brightness(70%);
        }

        &::before {
            content: '';
            height: 100%;
            width: 100%;
            display: block;
            z-index: -1;
            border-radius: 50%;
        }

        &--paper {
            bottom: 75%;
            right: 85%;
            .image {
                background: option-icon('../../images/icon-paper.svg');
                @include hand-placement;
            }

            &::before {
                background: option-border(
                    hsl(230, 89%, 62%),
                    hsl(230, 89%, 65%)
                );
                @include border-shadow(#2945c3);
            }
        }
        &--scissors {
            bottom: 75%;
            right: 19%;
            .image {
                background: option-icon('../../images/icon-scissors.svg');
                @include hand-placement;
            }
            &::before {
                background: option-border(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
                @include border-shadow(#c66d1b);
            }
        }
        &--rock {
            bottom: 13%;
            right: 52%;
            .image {
                background: option-icon('../../images/icon-rock.svg');
                @include hand-placement;
            }
            &::before {
                background: option-border(
                    hsl(349, 71%, 52%),
                    hsl(349, 70%, 56%)
                );
                @include border-shadow(#9e1531);
            }
        }
    }
}

.image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 12%;
    left: 12%;
    @include hand-placement;

    &::after {
        content: '';
        background: $elements_bg-color;
        height: 75%;
        width: 75%;
        display: block;
        z-index: -1;
        position: absolute;
        border-radius: 50%;
        @include bg-shadow();
    }
}

.rules-btn {
    background: transparent;
    color: $elements_bg-color;
    border: 0.15em solid $border-color;
    height: 12%;
    width: 20%;
    border-radius: 0.3em;
    font: 600 1rem $main-font;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    cursor: pointer;
    position: absolute;
    top: 105%;
    left: 120%;

    &:hover {
        filter: brightness(50%);
    }
}
