.options {
    width: 25rem;
    height: 25rem;
    position: relative;
    z-index: 1;
    top: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    background: url('../../images/bg-triangle.svg') no-repeat;
    background-position: 50% 40%;

    &__icon {
        position: absolute;
        cursor: pointer;
        height: 8rem;
        width: 8rem;

        @include option-hover(70%);

        &::before {
            content: '';
            height: 100%;
            width: 100%;
            display: block;
            z-index: -1;
            border-radius: 50%;
            position: absolute;
        }

        &--paper {
            @include set-hand('../../images/icon-paper.svg');

            &::before {
                background: option-border(
                    hsl(230, 89%, 62%),
                    hsl(230, 89%, 65%)
                );
                @include border-shadow(#2945c3);
            }
        }
        &--scissors {
            left: 100%;
            transform: translate(-100%);
            @include set-hand('../../images/icon-scissors.svg');
            &::before {
                background: option-border(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
                @include border-shadow(#c66d1b);
            }
        }
        &--rock {
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            @include set-hand('../../images/icon-rock.svg');
            &::before {
                background: option-border(
                    hsl(349, 71%, 52%),
                    hsl(349, 70%, 56%)
                );
                @include border-shadow(#9e1531);
            }
        }
    }
}

.disappear {
    animation: disappear 1.5s 1;
}

.image {
    position: absolute;

    &::after {
        content: '';
        background: $elements_bg-color;
        height: 6rem;
        width: 6rem;
        display: block;
        z-index: -1;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include bg-shadow();
    }
}

.rules-btn {
    background: transparent;
    color: $elements_bg-color;
    border: 0.15em solid $border-color;
    height: 2.5em;
    width: 8em;
    border-radius: 0.3em;
    font: 600 1rem $main-font;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 3em;
    @include option-hover(50%);
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
