@include medium_screen {
    header {
        width: 85%;
    }

    .rules-btn {
        // bottom: 0.5rem;
        left: 50%;
        transform: translate(-50%);
    }

    .options {
        width: 20rem;
        height: 20rem;

        &__icon {
            &--paper {
                left: -5%;
                transform: translate(5%);
            }

            &--scissors {
                left: 105%;
                transform: translate(-105%);
            }
        }
    }

    .game {
        &__user {
            right: 2rem;
        }

        &__computer {
            left: 2rem;
        }
    }

    .result {
        width: 90%;
    }

    @keyframes move-left {
        from {
            right: 0;
        }

        to {
            right: 35%;
        }
    }

    @keyframes move-right {
        from {
            left: 0;
        }

        to {
            left: 35%;
        }
    }
}
