@include screen__l {
    .score-box {
        width: 25%;
    }
    .options {
        &__icon {
            width: 35%;
            height: 37%;
            .image {
                background-size: 35%;
            }

            &--paper {
                right: 80%;
            }

            &--scissors {
                right: 20%;
                bottom: 74%;
            }

            &--rock {
                bottom: 20%;
                right: 50%;
            }
        }
    }
    .result {
        left: 21%;
        width: 53%;
    }

    .rules {
        width: 35%;
    }

    .choice-placement {
        width: 60%;
        left: 12%;
    }
    .user-choice {
        .options__icon {
            width: 60%;
            right: 67%;
        }
    }
}

@include screen__m {
    .score-box {
        width: 30%;
    }
    .options {
        width: 100%;
        &__icon {
            width: 35%;
            height: 37%;
            .image {
                background-size: 35%;
            }

            &--paper {
                right: 80%;
            }

            &--scissors {
                right: 20%;
                bottom: 74%;
            }

            &--rock {
                bottom: 20%;
                right: 50%;
            }
        }
    }
    .rules-btn {
        width: 30%;
        left: 110%;
        top: 100%;
    }

    .rules {
        height: 65%;
        width: 50%;
    }

    .result {
        left: 22%;
        width: 53%;
    }

    .game {
        p {
            width: 110%;
        }

        &__user {
            right: 10%;
        }
    }

    .choice-placement {
        width: 80%;
        left: 12%;
    }

    .user-choice {
        .options__icon {
            width: 80%;
            right: 50%;
        }
    }
    .move-left {
        animation: move-left__m 2s forwards;
    }
    .move-right {
        animation: move-right__m 2s forwards;
    }
}

@include screen__s {
    .score-box {
        width: 35%;
    }
    .options {
        left: 46%;
        background-position: 10% 0;
        width: 100%;
        &__icon {
            width: 40%;
            height: 37%;

            &--scissors {
                right: 10%;
                // bottom: 74%;
            }

            &--rock {
                // bottom: 20%;
                right: 45%;
            }
        }
    }
    .result {
        left: 21%;
        width: 53%;
        top: 15%;

        &__header {
            position: relative;
            left: 25%;
        }

        button {
            width: 90%;
        }
    }

    .rules {
        width: 60%;
    }

    .rules-btn {
        width: 40%;
        left: 100%;
        top: 95%;
    }

    .game {
        &__computer {
            p {
                width: 130%;
                position: relative;
                right: 10%;
            }
        }
    }

    .choice-placement {
        width: 85%;
        height: 40%;
        left: 0;
        top: 10%;
    }
    .user-choice {
        .options__icon {
            width: 85%;
            right: 40%;
            height: 40%;
        }
    }
}

@include screen__xs {
    header {
        width: 80%;
        height: 10%;

        img {
            height: 150%;
        }
    }
    footer {
        width: 52%;
    }
    .score-box {
        width: 25%;
        height: 80%;

        &__text {
            top: 5%;
            .points {
                font-size: 3rem;
            }
        }
    }
    .options {
        // width: 130%;
        height: 90%;
        left: 42%;
    }
    .rules {
        width: 75%;
    }

    .rules-btn {
        width: 50%;
        left: 50%;
        transform: translate(-50%);
        top: 110%;
    }
    .result {
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        top: 65%;

        &__header {
            position: relative;
            left: 0;

            button {
                width: 100%;
            }
        }
    }

    .game {
        top: -7%;
        height: 85%;
        &__computer {
            p {
                width: 135%;
                right: 10%;
                font-size: 1rem;
                top: 10%;
            }
        }
        &__user {
            p {
                position: relative;
                right: 15%;
                font-size: 1rem;
                top: 10%;
            }
        }
    }

    .choice-placement {
        width: 110%;
        height: 45%;
        left: 0;
        top: 12%;
    }
    .user-choice {
        top: 31%;
        .options__icon {
            width: 110%;
            right: 40%;
            height: 45%;
        }
    }
}

@include screen__xxs {
    .options {
        width: 130%;
    }

    footer {
        left: 75%;
        transform: translate(-75%);
        width: 55%;
    }

    .rules-btn {
        width: 70%;
    }

    .game {
        &__computer {
            p {
                width: 140%;
            }
        }
    }

    .choice-placement {
        top: 13%;
    }
}

@keyframes move-left__m {
    from {
        right: 10%;
    }

    to {
        right: 20%;
    }
}

@keyframes move-right__m {
    from {
        right: 8%;
    }

    to {
        left: 23%;
    }
}
