.rules {
    display: none;
    position: absolute;
    height: 60%;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__header {
        display: flex;
        padding: 1.5em;
        position: relative;
        height: 10%;
        width: 88%;

        h1 {
            margin: 0;
            padding: 0;
            color: #3b4163;
            text-transform: uppercase;
            font-family: $main-font;
        }

        img {
            width: 6%;
            height: 27%;
            align-self: center;
            position: absolute;
            right: 1.5em;
            cursor: pointer;
            transition: all 1s;

            &:hover {
                transform: scale(1.5);
                transition: all 0.5s;
            }
        }
    }

    &__image {
        position: absolute;
        height: 70%;
        width: 75%;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -70%);
    }

    &::before {
        content: '';
        display: block;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.466);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    &::after {
        content: '';
        display: block;
        background: $elements_bg-color;
        height: 100%;
        width: 100%;
        border-radius: 0.8em;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }
}
