header {
  width: 50%;
  height: 15%;
  border: 0.2em solid #606e85;
  border-radius: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1.5em;
  left: 50%;
  top: 2%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  height: 100%;
}

.score-box {
  height: 6rem;
  width: 7rem;
  background: #f8f8f8;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.score-box__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.score-box__text span {
  color: #2a46c0;
  font: 700 1rem "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.score-box__text .points {
  font: 700 3rem "Barlow Semi Condensed", sans-serif;
  color: #58566b;
  position: relative;
  top: -0.25em;
}

.score-box__text .score {
  position: relative;
  top: 0;
}

.options {
  width: 25rem;
  height: 25rem;
  position: relative;
  z-index: 1;
  top: 0.5rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: url("../../images/bg-triangle.svg") no-repeat;
  background-position: 50% 40%;
}

.options__icon {
  position: absolute;
  cursor: pointer;
  height: 8rem;
  width: 8rem;
}

.options__icon:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.options__icon::before {
  content: '';
  height: 100%;
  width: 100%;
  display: block;
  z-index: -1;
  border-radius: 50%;
  position: absolute;
}

.options__icon--paper .image {
  background: url("../../images/icon-paper.svg") no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
}

.options__icon--paper::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
  -webkit-box-shadow: 0 0.5em #2945c3;
          box-shadow: 0 0.5em #2945c3;
}

.options__icon--scissors {
  left: 100%;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.options__icon--scissors .image {
  background: url("../../images/icon-scissors.svg") no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
}

.options__icon--scissors::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
  -webkit-box-shadow: 0 0.5em #c66d1b;
          box-shadow: 0 0.5em #c66d1b;
}

.options__icon--rock {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.options__icon--rock .image {
  background: url("../../images/icon-rock.svg") no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
}

.options__icon--rock::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
  -webkit-box-shadow: 0 0.5em #9e1531;
          box-shadow: 0 0.5em #9e1531;
}

.disappear {
  -webkit-animation: disappear 1.5s 1;
          animation: disappear 1.5s 1;
}

.image {
  position: absolute;
}

.image::after {
  content: '';
  background: #f8f8f8;
  height: 6rem;
  width: 6rem;
  display: block;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0.5em #b9bed4 inset;
          box-shadow: 0 0.5em #b9bed4 inset;
}

.rules-btn {
  background: transparent;
  color: #f8f8f8;
  border: 0.15em solid #606e85;
  height: 2.5em;
  width: 8em;
  border-radius: 0.3em;
  font: 600 1rem "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 3em;
}

.rules-btn:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

@-webkit-keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rules {
  display: none;
  position: absolute;
  height: 25rem;
  width: 25rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.rules__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em;
  position: relative;
  height: 10%;
  width: 88%;
}

.rules__header h1 {
  margin: 0;
  padding: 0;
  color: #3b4163;
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.rules__header img {
  width: 6%;
  height: 27%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  right: 1.5em;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.rules__header img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.rules__image {
  position: absolute;
  height: 60%;
  width: 65%;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.rules::before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.466);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.rules::after {
  content: '';
  display: block;
  background: #f8f8f8;
  height: 100%;
  width: 100%;
  border-radius: 0.8em;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.game {
  display: none;
  position: relative;
  width: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 6rem;
}

.game p {
  color: #f8f8f8;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  top: -6rem;
  text-align: center;
}

.game__user {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.game__computer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.move-left {
  -webkit-animation: move-left 2s forwards;
          animation: move-left 2s forwards;
}

.move-right {
  -webkit-animation: move-right 2s forwards;
          animation: move-right 2s forwards;
}

.winner-shadow {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2em rgba(146, 145, 145, 0.07), 0 0 0 4em rgba(146, 145, 145, 0.05), 0 0 0 6em rgba(146, 145, 145, 0.03);
          box-shadow: 0 0 0 2em rgba(146, 145, 145, 0.07), 0 0 0 4em rgba(146, 145, 145, 0.05), 0 0 0 6em rgba(146, 145, 145, 0.03);
  -webkit-transition: -webkit-box-shadow 1s ease-in;
  transition: -webkit-box-shadow 1s ease-in;
  transition: box-shadow 1s ease-in;
  transition: box-shadow 1s ease-in, -webkit-box-shadow 1s ease-in;
}

.user-choice {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 8rem;
  width: 8rem;
}

.user-choice .options__icon {
  cursor: auto;
}

.user-choice .options__icon:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.choice-placement {
  background: #17223e;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: -1;
}

.choice-placement .computer-choice {
  height: 100%;
  width: 100%;
  position: relative;
  display: none;
  -webkit-animation: appears 1.5s 1;
          animation: appears 1.5s 1;
}

.choice-placement .options__icon {
  top: 0;
  right: 0;
  cursor: auto;
}

.choice-placement .options__icon:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.appears {
  -webkit-animation: appears 1s 1;
          animation: appears 1s 1;
}

.result {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-animation: appears 3s 1;
          animation: appears 3s 1;
}

.result__header {
  color: #f8f8f8;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 3.1em;
}

.result button {
  background: #f8f8f8;
  color: #3b4163;
  text-transform: uppercase;
  font: 600 15px "Barlow Semi Condensed", sans-serif;
  letter-spacing: 2px;
  height: 2.5em;
  width: 70%;
  border-radius: 5px;
  border: none;
}

.result button:hover {
  color: #be3954;
  cursor: pointer;
}

@-webkit-keyframes appears {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appears {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes move-left {
  from {
    right: 0;
  }
  to {
    right: 30%;
  }
}

@keyframes move-left {
  from {
    right: 0;
  }
  to {
    right: 30%;
  }
}

@-webkit-keyframes move-right {
  from {
    left: 0;
  }
  to {
    left: 30%;
  }
}

@keyframes move-right {
  from {
    left: 0;
  }
  to {
    left: 30%;
  }
}

@media screen and (max-width: 640px) {
  header {
    width: 85%;
  }
  .rules-btn {
    bottom: 8rem;
  }
  .options {
    width: 20rem;
    height: 20rem;
  }
  .options__icon--paper {
    left: -5%;
    -webkit-transform: translate(5%);
            transform: translate(5%);
  }
  .options__icon--scissors {
    left: 105%;
    -webkit-transform: translate(-105%);
            transform: translate(-105%);
  }
  .result {
    width: 90%;
  }
  @-webkit-keyframes move-left {
    from {
      right: 0;
    }
    to {
      right: 35%;
    }
  }
  @keyframes move-left {
    from {
      right: 0;
    }
    to {
      right: 35%;
    }
  }
  @-webkit-keyframes move-right {
    from {
      left: 0;
    }
    to {
      left: 35%;
    }
  }
  @keyframes move-right {
    from {
      left: 0;
    }
    to {
      left: 35%;
    }
  }
}

body {
  background: radial-gradient(#1f3756, #141539);
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  height: 70%;
  width: 100%;
  position: relative;
  top: 2%;
}
/*# sourceMappingURL=style.css.map */