header {
  width: 50%;
  border: 2px solid #606e85;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
}

header img {
  height: 92px;
}

.score-box {
  height: 100px;
  width: 130px;
  background: #f8f8f8;
  border-radius: 10px;
  position: absolute;
  right: 20px;
}

.score-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 10%;
}

.score-box__text span {
  color: #2a46c0;
  font: 700 15px "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.score-box__text .points {
  font: 700 50px "Barlow Semi Condensed", sans-serif;
  color: #58566b;
}

.options {
  background: url("../../images/bg-triangle.svg") no-repeat;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-30%, 20%);
          transform: translate(-30%, 20%);
}

.options__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  cursor: pointer;
}

.options__icon:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.options__icon::before {
  content: '';
  height: 160px;
  width: 160px;
  display: block;
  z-index: -1;
  border-radius: 50%;
}

.options__icon--paper {
  bottom: 70%;
  right: 80%;
}

.options__icon--paper .image {
  background: url("../../images/icon-paper.svg") no-repeat;
  background-position: 31% 33%;
}

.options__icon--paper::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
  -webkit-box-shadow: 0 7px #2945c3;
          box-shadow: 0 7px #2945c3;
}

.options__icon--scissors {
  bottom: 70%;
  right: 27%;
}

.options__icon--scissors .image {
  background: url("../../images/icon-scissors.svg") no-repeat;
  background-position: 31% 33%;
}

.options__icon--scissors::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
  -webkit-box-shadow: 0 7px #c66d1b;
          box-shadow: 0 7px #c66d1b;
}

.options__icon--rock {
  bottom: 20%;
  right: 54%;
}

.options__icon--rock .image {
  background: url("../../images/icon-rock.svg") no-repeat;
  background-position: 31% 33%;
}

.options__icon--rock::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
  -webkit-box-shadow: 0 7px #9e1531;
          box-shadow: 0 7px #9e1531;
}

.image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 12%;
  left: 12%;
  background-position: 31% 33%;
}

.image::after {
  content: '';
  background: #f8f8f8;
  height: 120px;
  width: 120px;
  display: block;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: 0 7px #b9bed4 inset;
          box-shadow: 0 7px #b9bed4 inset;
}

.rules-btn {
  background: transparent;
  color: #f8f8f8;
  border: 2px solid #606e85;
  height: 42px;
  width: 130px;
  border-radius: 5px;
  font: 600 15px "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  right: 5%;
  -webkit-transform: translate(5%, 10%);
          transform: translate(5%, 10%);
}

.rules-btn:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.rules {
  display: none;
  position: absolute;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.rules__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  position: relative;
}

.rules__header h1 {
  margin: 0;
  padding: 0;
  color: #3b4163;
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.rules__header img {
  width: 20px;
  height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  right: 20px;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.rules__header img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.rules__image {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.rules::before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.466);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.rules::after {
  content: '';
  display: block;
  background: #f8f8f8;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.game {
  display: none;
  position: relative;
  top: 10%;
  left: 30%;
  width: 50%;
  height: 100%;
}

.game p {
  color: #f8f8f8;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
}

.game__user {
  width: 50%;
  position: relative;
}

.game__computer {
  width: 50%;
  position: relative;
  left: 8%;
}

.move-left {
  -webkit-animation: move-left 2s forwards;
          animation: move-left 2s forwards;
}

.move-right {
  -webkit-animation: move-right 2s forwards;
          animation: move-right 2s forwards;
}

.winner-shadow {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 10px #cccccc, 0 0 0 15px #e6e6e6, 0 0 0 20px rgba(230, 230, 230, 0.514);
          box-shadow: 0 0 0 10px #cccccc, 0 0 0 15px #e6e6e6, 0 0 0 20px rgba(230, 230, 230, 0.514);
}

.user-choice {
  position: absolute;
  top: 70%;
  left: 40%;
}

.user-choice .options__icon {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.user-choice .options__icon:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  cursor: auto;
}

.user-choice .image {
  background-position: 31% 33%;
}

.choice-placement {
  height: 50%;
  width: 60%;
  background: #17223e;
  border-radius: 50%;
  position: relative;
  top: 12%;
  left: -4%;
}

.choice-placement .computer-choice {
  position: relative;
  display: none;
  -webkit-animation: appears 1s 1;
          animation: appears 1s 1;
}

.choice-placement .computer-choice--rock {
  top: 87%;
  left: 45%;
}

.choice-placement .computer-choice--paper {
  top: 87%;
  left: 70%;
}

.choice-placement .computer-choice--scissors {
  top: 87%;
  left: 20%;
}

.choice-placement .options__icon {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.choice-placement .options__icon:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  cursor: auto;
}

.choice-placement .image {
  background-position: 31% 33%;
}

.result {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 25%;
  left: 14%;
  -webkit-animation: appears 3s 1;
          animation: appears 3s 1;
}

.result__header {
  color: #f8f8f8;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}

.result button {
  background: #f8f8f8;
  color: #3b4163;
  text-transform: uppercase;
  font: 600 15px "Barlow Semi Condensed", sans-serif;
  letter-spacing: 2px;
  height: 42px;
  width: 200px;
  border-radius: 5px;
  border: none;
}

.result button:hover {
  color: #be3954;
  cursor: pointer;
}

@-webkit-keyframes appears {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appears {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes move-left {
  from {
    right: 0;
  }
  to {
    right: 15%;
  }
}

@keyframes move-left {
  from {
    right: 0;
  }
  to {
    right: 15%;
  }
}

@-webkit-keyframes move-right {
  from {
    left: 8%;
  }
  to {
    left: 20%;
  }
}

@keyframes move-right {
  from {
    left: 8%;
  }
  to {
    left: 20%;
  }
}

body {
  background: radial-gradient(#1f3756, #141539);
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

main {
  height: 60%;
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

footer a {
  color: #3e52a3;
  font-family: "Barlow Semi Condensed", sans-serif;
}
/*# sourceMappingURL=style.css.map */