header {
  width: 50%;
  border: 2px solid #606e85;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
}

header img {
  height: 100%;
}

.score-box {
  height: 70%;
  width: 18%;
  background: #f8f8f8;
  border-radius: 10px;
  position: absolute;
  right: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.score-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 10%;
}

.score-box__text span {
  color: #2a46c0;
  font: 700 1rem "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.score-box__text .points {
  font: 700 3.5rem "Barlow Semi Condensed", sans-serif;
  color: #58566b;
  top: 0;
}

.options {
  background: url("../../images/bg-triangle.svg") no-repeat;
  background-size: 65% 80%;
  width: 70%;
  height: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-28%);
          transform: translate(-28%);
}

.options__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  cursor: pointer;
  height: 38%;
  width: 33%;
}

.options__icon:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.options__icon::before {
  content: '';
  height: 100%;
  width: 100%;
  display: block;
  z-index: -1;
  border-radius: 50%;
}

.options__icon--paper {
  bottom: 75%;
  right: 85%;
}

.options__icon--paper .image {
  background: url("../../images/icon-paper.svg") no-repeat;
  background-position: 30% 30%;
}

.options__icon--paper::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
  -webkit-box-shadow: 0 0.5em #2945c3;
          box-shadow: 0 0.5em #2945c3;
}

.options__icon--scissors {
  bottom: 75%;
  right: 19%;
}

.options__icon--scissors .image {
  background: url("../../images/icon-scissors.svg") no-repeat;
  background-position: 30% 30%;
}

.options__icon--scissors::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
  -webkit-box-shadow: 0 0.5em #c66d1b;
          box-shadow: 0 0.5em #c66d1b;
}

.options__icon--rock {
  bottom: 13%;
  right: 52%;
}

.options__icon--rock .image {
  background: url("../../images/icon-rock.svg") no-repeat;
  background-position: 30% 30%;
}

.options__icon--rock::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
  -webkit-box-shadow: 0 0.5em #9e1531;
          box-shadow: 0 0.5em #9e1531;
}

.disappear {
  -webkit-animation: disappear 1.5s 1;
          animation: disappear 1.5s 1;
}

.image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 12%;
  left: 12%;
  background-position: 30% 30%;
}

.image::after {
  content: '';
  background: #f8f8f8;
  height: 75%;
  width: 75%;
  display: block;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.5em #b9bed4 inset;
          box-shadow: 0 0.5em #b9bed4 inset;
}

.rules-btn {
  background: transparent;
  color: #f8f8f8;
  border: 0.15em solid #606e85;
  height: 12%;
  width: 20%;
  border-radius: 0.3em;
  font: 600 1rem "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  cursor: pointer;
  position: absolute;
  top: 105%;
  left: 120%;
}

.rules-btn:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

@-webkit-keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rules {
  display: none;
  position: absolute;
  height: 60%;
  width: 30%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.rules__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em;
  position: relative;
  height: 10%;
  width: 88%;
}

.rules__header h1 {
  margin: 0;
  padding: 0;
  color: #3b4163;
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.rules__header img {
  width: 6%;
  height: 27%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  right: 1.5em;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.rules__header img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.rules__image {
  position: absolute;
  height: 70%;
  width: 75%;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.rules::before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.466);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.rules::after {
  content: '';
  display: block;
  background: #f8f8f8;
  height: 100%;
  width: 100%;
  border-radius: 0.8em;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.game {
  display: none;
  position: relative;
  top: 10%;
  left: 5%;
  width: 100%;
  height: 100%;
}

.game p {
  color: #f8f8f8;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.3rem;
}

.game__user {
  width: 50%;
  position: relative;
}

.game__computer {
  width: 50%;
  position: relative;
  left: 10%;
}

.move-left {
  -webkit-animation: move-left 2s forwards;
          animation: move-left 2s forwards;
}

.move-right {
  -webkit-animation: move-right 2s forwards;
          animation: move-right 2s forwards;
}

.winner-shadow {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2em rgba(146, 145, 145, 0.07), 0 0 0 4em rgba(146, 145, 145, 0.05), 0 0 0 6em rgba(146, 145, 145, 0.03);
          box-shadow: 0 0 0 2em rgba(146, 145, 145, 0.07), 0 0 0 4em rgba(146, 145, 145, 0.05), 0 0 0 6em rgba(146, 145, 145, 0.03);
  -webkit-transition: -webkit-box-shadow 1s ease-in;
  transition: -webkit-box-shadow 1s ease-in;
  transition: box-shadow 1s ease-in;
  transition: box-shadow 1s ease-in, -webkit-box-shadow 1s ease-in;
}

.user-choice {
  position: absolute;
  top: 30%;
  left: 20%;
  height: 100%;
  width: 100%;
}

.user-choice .options__icon {
  height: 45%;
  width: 52%;
  top: 0;
  right: 75%;
}

.user-choice .options__icon:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  cursor: auto;
}

.user-choice .image {
  background-position: 32% 32%;
}

.choice-placement {
  height: 45%;
  width: 53%;
  background: #17223e;
  border-radius: 50%;
  position: relative;
  top: 12%;
  left: 0;
  z-index: -1;
}

.choice-placement .computer-choice {
  height: 100%;
  width: 100%;
  position: relative;
  display: none;
  -webkit-animation: appears 1.5s 1;
          animation: appears 1.5s 1;
}

.choice-placement .options__icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}

.choice-placement .options__icon:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  cursor: auto;
}

.choice-placement .image {
  background-position: 32% 32%;
}

.appears {
  -webkit-animation: appears 1s 1;
          animation: appears 1s 1;
}

.result {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 25%;
  left: 20%;
  -webkit-animation: appears 3s 1;
          animation: appears 3s 1;
}

.result__header {
  color: #f8f8f8;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 3.1em;
}

.result button {
  background: #f8f8f8;
  color: #3b4163;
  text-transform: uppercase;
  font: 600 15px "Barlow Semi Condensed", sans-serif;
  letter-spacing: 2px;
  height: 2.5em;
  width: 70%;
  border-radius: 5px;
  border: none;
}

.result button:hover {
  color: #be3954;
  cursor: pointer;
}

@-webkit-keyframes appears {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appears {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes move-left {
  from {
    right: 0;
  }
  to {
    right: 10%;
  }
}

@keyframes move-left {
  from {
    right: 0;
  }
  to {
    right: 10%;
  }
}

@-webkit-keyframes move-right {
  from {
    right: 8%;
  }
  to {
    left: 27%;
  }
}

@keyframes move-right {
  from {
    right: 8%;
  }
  to {
    left: 27%;
  }
}

@media screen and (max-width: 1024px) {
  .score-box {
    width: 25%;
  }
  .options__icon {
    width: 35%;
    height: 37%;
  }
  .options__icon .image {
    background-size: 35%;
  }
  .options__icon--paper {
    right: 80%;
  }
  .options__icon--scissors {
    right: 20%;
    bottom: 74%;
  }
  .options__icon--rock {
    bottom: 20%;
    right: 50%;
  }
  .result {
    left: 21%;
    width: 53%;
  }
  .rules {
    width: 35%;
  }
  .choice-placement {
    width: 60%;
    left: 12%;
  }
  .user-choice .options__icon {
    width: 60%;
    right: 67%;
  }
}

@media screen and (max-width: 768px) {
  .score-box {
    width: 30%;
  }
  .options {
    width: 100%;
  }
  .options__icon {
    width: 35%;
    height: 37%;
  }
  .options__icon .image {
    background-size: 35%;
  }
  .options__icon--paper {
    right: 80%;
  }
  .options__icon--scissors {
    right: 20%;
    bottom: 74%;
  }
  .options__icon--rock {
    bottom: 20%;
    right: 50%;
  }
  .rules-btn {
    width: 30%;
    left: 110%;
    top: 100%;
  }
  .rules {
    height: 65%;
    width: 50%;
  }
  .result {
    left: 22%;
    width: 53%;
  }
  .game p {
    width: 110%;
  }
  .game__user {
    right: 10%;
  }
  .choice-placement {
    width: 80%;
    left: 12%;
  }
  .user-choice .options__icon {
    width: 80%;
    right: 50%;
  }
  .move-left {
    -webkit-animation: move-left__m 2s forwards;
            animation: move-left__m 2s forwards;
  }
  .move-right {
    -webkit-animation: move-right__m 2s forwards;
            animation: move-right__m 2s forwards;
  }
}

@media screen and (max-width: 640px) {
  .score-box {
    width: 35%;
  }
  .options {
    left: 46%;
    background-position: 10% 0;
  }
  .options__icon {
    width: 40%;
    height: 37%;
  }
  .options__icon--scissors {
    right: 10%;
  }
  .options__icon--rock {
    right: 45%;
  }
  .result {
    left: 21%;
    width: 53%;
    top: 15%;
  }
  .result__header {
    position: relative;
    left: 25%;
  }
  .result button {
    width: 90%;
  }
  .rules {
    width: 60%;
  }
  .rules-btn {
    width: 40%;
    left: 100%;
    top: 95%;
  }
  .game__computer p {
    width: 130%;
    position: relative;
    right: 10%;
  }
  .choice-placement {
    width: 85%;
    height: 40%;
    left: 0;
    top: 10%;
  }
  .user-choice .options__icon {
    width: 85%;
    right: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 480px) {
  header {
    width: 80%;
    height: 10%;
  }
  header img {
    height: 150%;
  }
  footer {
    width: 52%;
  }
  .score-box {
    width: 25%;
    height: 80%;
  }
  .score-box__text {
    top: 5%;
  }
  .score-box__text .points {
    font-size: 3rem;
  }
  .options {
    width: 140%;
    left: 42%;
  }
  .rules {
    width: 75%;
  }
  .rules-btn {
    width: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    top: 110%;
  }
  .result {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 100%;
    top: 65%;
  }
  .result__header {
    position: relative;
    left: 0;
  }
  .result__header button {
    width: 100%;
  }
  .game {
    top: -7%;
    height: 85%;
  }
  .game__computer p {
    width: 135%;
    right: 10%;
    font-size: 1rem;
    top: 10%;
  }
  .game__user p {
    position: relative;
    right: 15%;
    font-size: 1rem;
    top: 10%;
  }
  .choice-placement {
    width: 110%;
    height: 45%;
    left: 0;
    top: 12%;
  }
  .user-choice {
    top: 31%;
  }
  .user-choice .options__icon {
    width: 110%;
    right: 40%;
    height: 45%;
  }
}

@-webkit-keyframes move-left__m {
  from {
    right: 10%;
  }
  to {
    right: 20%;
  }
}

@keyframes move-left__m {
  from {
    right: 10%;
  }
  to {
    right: 20%;
  }
}

@-webkit-keyframes move-right__m {
  from {
    right: 8%;
  }
  to {
    left: 23%;
  }
}

@keyframes move-right__m {
  from {
    right: 8%;
  }
  to {
    left: 23%;
  }
}

body {
  background: radial-gradient(#1f3756, #141539);
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

main {
  height: 60%;
  width: 50%;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

footer {
  font-size: 0.7rem;
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

footer a {
  color: #3e52a3;
  font-family: "Barlow Semi Condensed", sans-serif;
}
/*# sourceMappingURL=style.css.map */